* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}
/* primary styles */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    border: none;
    cursor: pointer;
}
/* header section style start  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}

ul {
    display: flex;
    
}

ul>li {
    list-style: none;
    margin-right: 30px;
}

ul>li>a {
    color: var(--Dark-02, #424242);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
/* banner section style start  */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin:0 auto ;
}
.banner-title{
   color: #131313;
   font-size: 4rem;
   font-weight: 700;
  
}
.banner-description{
  font-size: 1rem;
  padding: 1.8rem 0;
}
.banner-img{
    width: 100%;
    margin-top: 20px;
}
/* banner section style end */
/* header section style end */

/* main style  start*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* team section start  */
.team-container{
    display: flex;
    align-items: center;
   
}
.teams-img-container{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 1.5rem;
}
.teams-title{
    font-size: 2.8rem;
    font-weight: 700;

}
.teams-description{
    color: #727272;
    font-weight: 400;
    margin: 20px 0;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
  max-width: 525px;
}
.quick-list{
    color: #727272;
    font-weight: 500
}
.of-our{
    color: #131313;
     
}
.features{
    color: #FF900E;
}
/* team section end  */
/* features section start  */

.fact-container{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.fact-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}
.fact-description{
    max-width: 542px;
}
.card-stats{
    color: #424242; 
    font-size: 2.8rem;
    font-weight: 600;
    margin: 20px 0;
}
.class-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}
/* features section end */
/* fact section start  */
.sponsor-heading{
    text-align: center;
    margin-top: 60px;
}

.sponsor-description{
    margin: 20px auto;
  
}
.sponsor-img-container{
    display: flex;
   justify-content: space-evenly;
    margin-top: 80px;
    align-items: center;
    gap: 40px;
}
.sponsor-img-container img{ 
   width: 165px;
}
/* fact section end */
/* main style  end*/
/* responsive styles */
/* mobile device  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav ,.team-container ,.fact-container{
        flex-direction: column;
        gap: 20px;
      
    }
    .sponsor-img-container{
        flex-direction: column;
    }
    .banner-title{
        font-size: 2.6rem;
       
    }
    .banner-description{
        font-size: .9rem;
    
    }
    .btn-primary{
        padding: 8px 10px;
       }
       .teams-img-container{
             grid-template-columns: 1fr;
             
       }
       .teams-content,.fact-container,.fact-heading{
        padding-left: 20px;
        padding-right: 20px;
       }
}
/* tablet device  */
@media screen and (min-width:577px)  and (max-width:960px){
    header{
        padding: 50px;
    }
    nav,  .team-container ,.fact-container{
        flex-direction: column;
        gap: 20px;
    }
    .sponsor-img-container{
        flex-direction: column;
    }
    .banner-title{
        font-size: 3.3rem;
    }
  .team-img{
    max-width: 250px;
  }
    .team-container{
       margin: 0 30px;
     
   }
   .teams-content,.fact-heading{
    padding-left: 30px;
    padding-right: 30px;
   }
  
   .fact-container{
    padding: 0 140px;
   }
     
   .btn-primary{
    padding: 10px 12px;
   }
}